process {
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'terminate' }
    maxRetries    = 3
    container     = 'community.wave.seqera.io/library/bwa_multiqc_picard_samtools_trim-galore:1f8f32c7e7f113e8'

    withName: BWA_INDEX {
        cpus   = { Math.min(4 * task.attempt, 8) }
        memory = { Math.min(8 * task.attempt, 16).GB }
        time   = { Math.min(8 * task.attempt, 16).h }
    }
    withName: SAMTOOLS_FAIDX {
        cpus   = 1
        memory = { Math.min(2 * task.attempt, 4).GB }
        time   = { Math.min(1 * task.attempt, 2).h }
    }
    withName: CONCAT_FASTQ {
        cpus   = 1
        memory = { Math.min(4 * task.attempt, 8).GB }
        time   = { Math.min(2 * task.attempt, 4).h }
    }
    withName: ADAPTER_TRIM {
        cpus   = { Math.min(4 * task.attempt, 8) }
        memory = { Math.min(8 * task.attempt, 16).GB }
        time   = { Math.min(6 * task.attempt, 12).h }
    }
    withName: ALIGN_AND_SORT {
        cpus   = { Math.min(8 * task.attempt, 16) }
        memory = { Math.min(16 * task.attempt, 32).GB }
        time   = { Math.min(8 * task.attempt, 16).h }
    }
    withName: MARK_DUPLICATES_AND_CRAM {
        cpus   = { Math.min(8 * task.attempt, 16) }
        memory = { Math.min(16 * task.attempt, 32).GB }
        time   = { Math.min(12 * task.attempt, 24).h }
    }
    withName: MULTIQC {
        cpus   = 1
        memory = { Math.min(2 * task.attempt, 4).GB }
        time   = { Math.min(1 * task.attempt, 2).h }
    }
}
