executor {
    name            = 'slurm'
    queueSize       = 50
    submitRateLimit = '10/1min'
}

process {
    queue         = 'mpcs.p'
    scratch       = true
    maxRetries    = 3
    errorStrategy = { task.exitStatus in [143, 137, 104, 134, 139] ? 'retry' : 'finish' }

    withName: BWA_INDEX {
        cpus   = { Math.min(8 * task.attempt, 16) }
        memory = { Math.min(16 * task.attempt, 32).GB }
        time   = { Math.min(12 * task.attempt, 24).h }
    }
    withName: SAMTOOLS_FAIDX {
        cpus   = { Math.min(2 * task.attempt, 4) }
        memory = { Math.min(4 * task.attempt, 8).GB }
        time   = { Math.min(2 * task.attempt, 4).h }
    }
    withName: CONCAT_FASTQ {
        cpus   = { Math.min(2 * task.attempt, 4) }
        memory = { Math.min(8 * task.attempt, 16).GB }
        time   = { Math.min(4 * task.attempt, 8).h }
    }
    withName: ADAPTER_TRIM {
        cpus   = { Math.min(8 * task.attempt, 16) }
        memory = { Math.min(16 * task.attempt, 32).GB }
        time   = { Math.min(12 * task.attempt, 24).h }
    }
    withName: BWA_ALIGN {
        cpus   = { Math.min(48 * task.attempt, 96) }
        memory = { Math.min(64 * task.attempt, 128).GB }
        time   = { Math.min(8 * task.attempt, 16).h }
    }
    withName: SAMTOOLS_SORT {
        cpus   = 8
        memory = { Math.min(112 * task.attempt, 256).GB }
        time   = { Math.min(8 * task.attempt, 16).h }
    }
    withName: MARK_DUPLICATES {
        cpus   = { Math.min(2 * task.attempt, 4) }
        memory = { Math.min(128 * task.attempt, 256).GB }
        time   = { Math.min(24 * task.attempt, 48).h }
    }
    withName: SAMTOOLS_CRAM {
        cpus   = 8
        memory = { Math.min(8 * task.attempt, 16).GB }
        time   = { Math.min(6 * task.attempt, 12).h }
    }
    withName: MULTIQC {
        cpus   = { Math.min(2 * task.attempt, 4) }
        memory = { Math.min(4 * task.attempt, 8).GB }
        time   = { Math.min(2 * task.attempt, 4).h }
    }
}
